.bg_img_hero {
    background-image: url("./assets/webp/herosection.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 130vh
}

.bg_grid {
    background-image: url("./assets/webp/grid_img.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 145vh;
}
.mint_bg_img {
    background-image: url("./assets/webp/Mint.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:100%;
}